name: "[Dispath] Docker push"

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'docker image version'
        required: true
        default: '1.0.0'

jobs:
  config:
    runs-on: ubuntu-latest
    steps:
      - name: Set project from github secret
        uses: microsoft/variable-substitution@v1
        with:
          files: ./src/config/config.yml
        env:
          kt_cloud.account_name: ${{ secrets.ACCOUNT_NAME }}
          kt_cloud.api_key: ${{ secrets.API_KEY }}
          kt_cloud.secret_key: ${{ secrets.SECRET_KEY }}
          telegram.bot_token: ${{ secrets.BOT_TOKEN }}
          telegram.chat_id: ${{ secrets.CHAT_ID }}
          time.start_day: ${{ secrets.START_DATE }}
          time.cycle: ${{ secrets.CYCLE }}
          time.create_time: ${{ secrets.CREATE_TIME }}
          time.delete_time: ${{ secrets.DELETE_TIME }}

  docker:
    runs-on: ubuntu-latest
    needs: config
    env:
      VERSION: ${{ github.event.inputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_REPO }}:${{ env.VERSION }}